/* Add CSS Styling */

p {
    background-color: pink;
}

#blue-text {
    color: blue;
    font-size: 36px;
}


The second element: blue text and a font size of 36px
The third element: in addition to the styles for all odd numbered elements, add a font size of 24px
The fourth element: a light green background, a font size of 24px, and bold