/* Add CSS Styling */

.black-button {
    background-color: black;
    color: white;
}

.yellow-button {
    background-color: yellow;
}

.black-button,
.yellow-button {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}


Both elements: a font size of 28px and a list of fonts containing
 Helvetica and Times New Roman, with sans-serif as a fallback